/* メール認証画面のスタイル */
.verify-container {
    width: 100%;
    max-width: 720px;
    max-height: 58px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    background: #fff;
    align-items: center;
    position: absolute;
}

.verify-message {
    font-size: 24px;
    margin-bottom: 50px;
    font-weight: 700;
}

.verify-btn {
    display: inline-block;
    align-items: center; /* 縦方向中央揃え */
    justify-content: center; /* 横方向中央揃え */
    width: 257px;
    height: 69px;
    line-height: 69px;
    background-color: #d9d9d9;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    border-color: #000;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    text-align: center;

}


.resend-link {
    display: inline-block;
    width: 257px;
    height: 53.29px;
    margin-top: 15px;
    font-size: 20px;
    color: #0073CC;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    border: none;
    background: none;
    cursor: pointer;
}

